html {
  overflow: hidden;
}

.heading {
  font-size: 6em;
}
.counter {
	font-size: 4em;
}
.roboto {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: 200;
}
.content {
  /* display:none; */
  margin-top: 100px;
}
.glyphicon:hover {
  color:yellow;
}

#animate {
  animation: 15s linear 0s infinite slidein;
}

img {
    border-radius: 5px;
}

@keyframes slidein {
  from {
    transform:  translate(-100%, 0);
  }
  to {
    transform: translate(100%, 0);
  }
}
